DB_HOST=YOUR_RDS_ENDPOINT
DB_PORT=3306
DB_NAME=cloud_weather
DB_USER=weatheradmin
DB_PASSWORD=YOUR_RDS_PASSWORD

DEFAULT_CITY=Hyderabad

S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
S3_REGION=ap-south-1

PORT=5000
